@model InmobiliariaWeb.Models.Programa.ProgramaCrearViewModel
@{
    ViewData["Tittle"] = "Crear Programa";
}
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="ProgramaTab" data-bs-toggle="tab" data-bs-target="#ProgramaTabPane" type="button" role="tab" aria-controls="ProgramaTabPane" aria-selected="true">Programa</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ProgramaTabPane" role="tabpanel" aria-labelledby="ProgramaTab" tabindex="0">
            @*<partial name="_Programa" />*@
            <form asp-action="Crear" method="post">
                <div class="card mt-3">
                    <div class="card-header fw-bold">
                        Datos del Programa
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">Nombre</label>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <input type="text" class="form-control" asp-for="@Model.ViewPrograma.NombrePrograma" />
                                <span asp-validation-for="@Model.ViewPrograma.NombrePrograma" class="text-danger"></span>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">N° Partida</label>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <input type="text" class="form-control" asp-for="@Model.ViewPrograma.NumeroPartida" />
                                <span asp-validation-for="@Model.ViewPrograma.NumeroPartida"></span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">Dirección</label>
                            </div>
                            <div class="col-lg-10 col-sm-12">
                                <input type="text" class="form-control" asp-for="@Model.ViewPrograma.Direccion" />
                                <span asp-validation-for="@Model.ViewPrograma.Direccion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">Referencia</label>
                            </div>
                            <div class="col-lg-10 col-sm-12">
                                <input type="text" class="form-control" asp-for="@Model.ViewPrograma.Referencia" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">Area Total</label>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <input type="number" class="form-control" asp-for="@Model.ViewPrograma.AreaTotal" />
                                <span asp-validation-for="@Model.ViewPrograma.AreaTotal" class="text-danger"></span>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">Area Lotizada</label>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <input type="number" class="form-control" asp-for="@Model.ViewPrograma.AreaLotizada" />
                                <span asp-validation-for="@Model.ViewPrograma.AreaLotizada" class="text-danger"></span>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">Cantidad Mz</label>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <input type="number" class="form-control" asp-for="@Model.ViewPrograma.CantidadManzanas" />
                                <span asp-validation-for="@Model.ViewPrograma.CantidadManzanas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">Suministro</label>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <input type="text" class="form-control" asp-for="@Model.ViewPrograma.Suministro" />
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">Manzana Inicial</label>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <select class="form-select" asp-for="@Model.ViewPrograma.ManzanaInicial">
                                    @foreach (var manzanas in Model.Manzanas)
                                    {
                                        <option value="@manzanas.Valor">@manzanas.Descripcion</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-2 col-sm-12">
                                <label class="col-form-label">TipoContrato</label>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <select class="form-select" asp-for="@Model.Ident_017_TipoContrato">
                                    <option></option>
                                    @foreach(var tipoContrato in Model.TipoContratos)
                                    {
                                        <option value="@tipoContrato.Ident_017_TipoContrato">@tipoContrato.Descripcion</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-lg btn-outline-success" type="submit">REGISTRAR</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>
@section scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @Model.Mensaje
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var mensajeError = '@Model.Mensaje';
    if (mensajeError && mensajeError.trim() !== '') {
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    };
</script>