@model ProgramaViewModel
@{
}
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row row-cols-2">
                <div class="col col-lg-10 col-md-9 col-sm-9">
                    <h2>PROGRAMAS</h2>
                </div>
                <div class="col col-lg-2 col-md-3 col-sm-3 text-end m-auto">
                    <a class="btn btn-outline-success" asp-controller="Programa" asp-action="Crear">
                        Nuevo
                        <i class="bi bi-file-earmark-richtext"></i>
                    </a>
                </div>
            </div>
        </div>
        <form asp-action="Index" method="post">
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Ingrese Código o Nombre" aria-label="Ingrese Nombre o Documento" aria-describedby="btnFiltrar" asp-for="@Model.Buscar">
                    <button class="btn btn-outline-secondary" type="submit">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="table-responsive-md">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th hidden></th>
                        <th>N°</th>
                        <th>Código</th>
                        <th>Programa</th>
                        <th style="text-align:center" data-bs-toggle="tooltip" title="Vendidos">V</th>
                        <th style="text-align:center" data-bs-toggle="tooltip" title="Libres">L</th>
                        <th style="text-align:center" data-bs-toggle="tooltip" title="Totales">T</th>
                        <th style="text-align:center" data-bs-toggle="tooltip" title="Ver">🔍︎</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProgramaList != null && Model.ProgramaList.Any())
                    {
                        @foreach (var programasList in Model.ProgramaList)
                        {
                            <tr>
                                <td hidden>@programasList.IdentPrograma</td>
                                <td style="text-align:center">@programasList.Indice</td>
                                <td style="text-align:center">@programasList.Codigo</td>
                                <td>@programasList.NombrePrograma</td>
                                <td style="text-align:center">
                                    <a class="btn btn-outline-success" asp-controller="Programa" asp-action="ReporteLotes" asp-route-tipoReporte="1" asp-route-Ident_Programa="@programasList.IdentPrograma" style="width:50px">
                                        @programasList.LotesUsados
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    <a class="btn btn-outline-success" asp-controller="Programa" asp-action="ReporteLotes" asp-route-tipoReporte="2" asp-route-Ident_Programa="@programasList.IdentPrograma" style="width:50px">
                                        @programasList.LotesLibres
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    <a class="btn btn-outline-success" asp-controller="Programa" asp-action="ReporteLotes" asp-route-tipoReporte="3" asp-route-Ident_Programa="@programasList.IdentPrograma" style="width:50px">
                                        @programasList.LotesTotales
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-outline-warning" asp-controller="Programa" asp-action="Actualizar" asp-route-IdentPrograma="@programasList.IdentPrograma">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                </td>
                                
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(@ViewBag.Mensaje))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @ViewBag.Mensaje
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    var mensajeError = '@ViewBag.Mensaje';
    if (mensajeError && mensajeError.trim() !== '') {
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    };
    document.addEventListener('DOMContentLoaded', function () {
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>