@model InmobiliariaWeb.Models.Programa.ViewLadoregular
@{
    Layout = "_ProgramaLayout";
}
<form asp-action="LadoRegular" asp-controller="Programa" method="post">
    <input type="text" asp-for="Ident_010_TipoLote" hidden/>
    <input type="text" asp-for="Ident_012_EstadoLote" hidden/>
    <input asp-for="Ident_Lote" hidden/>
    <div class="card mt-3">
        <div class="card-header fw-bold">
            @Model.NombrePrograma - @Model.LetraManzana - @Model.NumeroLote - Lados Regulares
        </div>
        <div class="card-body">
            <div class="group-box">
                <span class="group-box-title">Izquierda</span>
                <div class="row g-1 group-box-content">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" asp-for="Izquierda" id="Izquierda" onchange="calcularArea()" required />
                            <label>Metros</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="ColindaIzquierda" id="ColindaIzquierda" placeholder="Colinda con..." required />
                            <label>Colinda con...</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-box">
                <span class="group-box-title">Derecha</span>
                <div class="row g-1 group-box-content">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" asp-for="Derecha" id="Derecha" onchange="calcularArea()" required />
                            <label>Metros</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="ColindaDerecha" id="ColindaDerecha" placeholder="Colinda con..." required />
                            <label>Colinda con...</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-box">
                <span class="group-box-title">Frente</span>
                <div class="row g-1 group-box-content">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" asp-for="Frente" id="Frente" onchange="calcularArea()" required />
                            <label>Metros</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="ColindaFrente" id="ColindaFrente" placeholder="Colinda con..." required />
                            <label>Colinda con...</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-box">
                <span class="group-box-title">Fondo</span>
                <div class="row g-1 group-box-content">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" asp-for="Fondo" id="Fondo" onchange="calcularArea()" required />
                            <label>Metros</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="ColindaFondo" id="ColindaFondo" placeholder="Colinda con..." required />
                            <label>Colinda con...</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-1 mt-1">
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-floating">
                        <input type="number" class="form-control" asp-for="Area" id="Area" onblur="calcularTotal()" required />
                        <label class="col-form-label">Area Total</label>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-floating">
                        <input type="number" class="form-control" asp-for="PrecioM2" id="PrecioM2" onblur="calcularTotal()" required />
                        <label class="col-form-label">Precio m<sup>2</sup></label>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-floating">
                        <input type="number" class="form-control" asp-for="PrecioTotal" id="PrecioTotal" readonly />
                        <label class="col-form-label">$ Total</label>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-floating">
                        <input type="number" class="form-control" asp-for="Porcentaje" readonly />
                        <label class="col-form-label">%</label>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-floating">
                        <select class="form-select" id="tipoPropietario" asp-for="@Model.Ident_014_UbicacionLote" aria-label="Ubicación Lote" required>
                            <option></option>
                            @foreach (var tipoUbicacionLote in Model.TipoUbicacionLotes)
                            {
                                <option value="@tipoUbicacionLote.Ident_014_TipoUbicacionLote">@tipoUbicacionLote.Descripcion</option>
                            }
                        </select>
                        <label class="col-form-label">Ubicación:</label>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 d-flex align-items-center">
                    <div class="form-check form-switch ">
                        @if (Model.Ident_012_EstadoLote > 89)
                        {
                            <input type="checkbox" asp-for="@Model.FlagCheked" class="form-check-input" id="FlagCheked" readonly />
                        }
                        else
                        {
                            <input type="checkbox" asp-for="@Model.FlagCheked" class="form-check-input" id="FlagCheked" />
                        }
                        <label for="Ident_012_EstadoLote">Verificado</label>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 d-flex">
                    <div class="form-check form-switch d-flex align-items-center">
                        <input type="checkbox" asp-for="@Model.Flag_ReservadoPropietarpio" class="form-check-input me-2 align-self-center" id="FlagReservado" />
                        <label for="FlagReservado" class="form-check-label mb-0 text-wrap">Reservado por Propietario</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-outline-success">Registrar Lote <i class="bi bi-floppy"></i></button>
            <a asp-action="Lote" asp-controller="Programa" class="btn btn-outline-secondary">
                Regresar <i class="bi bi-skip-backward-fill"></i>
            </a>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @Model.Mensaje
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var mensajeError = '@Model.Mensaje';
    if (mensajeError && mensajeError.trim() !== '') {
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    };
    //$(document).ready(function () {
    //    $('#CalcularArea').click(function () {
    //        // Obtener los valores de Frente y Fondo
    //        var frente = parseFloat($('#Frente').val()) || 0;
    //        var fondo = parseFloat($('#Fondo').val()) || 0;

    //        // Obtener los valores de Izquierda y Derecha
    //        var izquierda = parseFloat($('#Izquierda').val()) || 0;
    //        var derecha = parseFloat($('#Derecha').val()) || 0;

    //        // Realizar las validaciones
    //        if (frente === fondo && izquierda === derecha) {
    //            // Calcular el área si las validaciones son correctas
    //            var area = frente * izquierda;
    //            // Mostrar el resultado en el campo de entrada de área
    //            $('#Area').val(area);
    //        } else {
    //            // Si las validaciones no son correctas, colocar 0 en el campo de entrada de área
    //            $('#Area').val(0);
    //        }
    //    });
    //});
    function calcularArea()
    {
        // Obtener los valores de Frente y Fondo
        var frente = parseFloat($('#Frente').val()) || 0;
        var fondo = parseFloat($('#Fondo').val()) || 0;

        // Obtener los valores de Izquierda y Derecha
        var izquierda = parseFloat($('#Izquierda').val()) || 0;
        var derecha = parseFloat($('#Derecha').val()) || 0;

        // Realizar las validaciones
        if (frente === fondo && izquierda === derecha) {
            // Calcular el área si las validaciones son correctas
            var area = frente * izquierda;
            // Mostrar el resultado en el campo de entrada de área
            $('#Area').val(area);
        } else {
            // Si las validaciones no son correctas, colocar 0 en el campo de entrada de área
            $('#Area').val(0);
        }
    };
    function calcularTotal() {
        var areaTotal = parseFloat($('#Area').val()) || 0;
        var precio = parseFloat($('#PrecioM2').val()) || 0;

        if (areaTotal > 0 && precio > 0) {
            var costo = Math.round(areaTotal * precio); // Redondear el resultado a un entero
            $('#PrecioTotal').val(costo);
        }
        else {
            $('#PrecioTotal').val(0);
        }
    };
</script>