@model InmobiliariaWeb.Models.Programa.ViewPropietario
@{
    Layout = "_ProgramaLayout";
}
<form method="post" asp-action="Propietario" asp-controller="Programa">
    <input hidden asp-for="@Model.IdentPrograma" />
    <input id="IdentPersona" asp-for="@Model.IdentPersona" hidden/>
    <div class="card mt-3">
        <div class="card-header fw-bold">
            @Model.NombrePrograma - Propietario
        </div>
        <div class="card-body">
            <div class="row">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre o Documento" aria-label="Recipient's username" aria-describedby="BuscarPersona" id="inputBusqueda">
                    <button class="btn btn-outline-secondary" type="button" id="BuscarPersona">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <span asp-validation-for="@Model.IdentPrograma"></span>
            </div>
            <div class="row g-1 mb-3">
                <div class="col-lg-8 col-sm-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Nombre" placeholder="Apellidos y Nombres" readonly>
                        <label for="Nombre">Apellidos y Nombres</label>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 ">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Documento" placeholder="Nro Documento" readonly>
                        <label for="Documento">Nro Documento</label>
                    </div>
                </div>
            </div>
            <div class="row g-1">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="form-floating">
                        <select class="form-select" id="tipoPropietario" asp-for="@Model.Ident011TipoPropietario" aria-label="Tipo Propietario">
                            <option></option>
                            @foreach (var tipoPropietario in Model.TipoPropietario)
                            {
                                <option value="@tipoPropietario.Ident_011_TipoPropietario">@tipoPropietario.Descripcion</option>
                            }
                        </select>
                        <label for="tipoPropietario">Tipo Propietario</label>
                    </div>
                    <span class="text-danger" asp-validation-for="@Model.Ident011TipoPropietario"></span>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="form-floating">
                        <input asp-for="@Model.NumeroPartida" type="text" class="form-control" id="PartidaPropietario" placeholder="Nro. Partida">
                        <label for="PartidaPropietario">Nro. Partida</label>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <button class="btn btn-outline-success col-form-label" style="width:100px; height:100%" id="RegistrarPropietario">
                        <i class="bi bi-person" style="font-size:1.5em"></i>
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="table-responsive-md">
                    <table class="table table-hover" id="propietarios">
                        <thead class="table-dark">
                            <tr class="text-center">
                                <th>N°</th>
                                <th hidden>IDENT_PROGRAMAPROPIETARIO.</th>
                                <th>Apellidos y Nombres</th>
                                <th>Tipo</th>
                                <th>N.P.</th>
                                <th>🔍︎</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var propietarios in Model.PropietarioList)
                            {
                                <tr>
                                    <td class="text-center">@propietarios.Indice</td>
                                    <td hidden>@propietarios.IdentProgramaPropietario</td>
                                    <td>@propietarios.NombreCompleto</td>
                                    <td class="text-center">@propietarios.TipoPropietario</td>
                                    <td class="text-center">@propietarios.NumeroPartida</td>
                                    <td class="text-center">
                                        <a class="btn btn-outline-danger"
                                           onclick="mostrarModalEliminar('@Url.Action("PropietarioEliminar", "Programa", new { IdentProgramaPropietario = @propietarios.IdentProgramaPropietario })')">
                                            <i class="bi bi-person"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @Model.Mensaje
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal de confirmación para eliminar propietario -->
<div class="modal fade" id="modalEliminarPropietario" tabindex="-1" role="dialog" aria-labelledby="modalEliminarPropietarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                ¿Estás seguro que deseas eliminar este propietario?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnConfirmarEliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var mensajeError = '@Model.Mensaje';
    if (mensajeError && mensajeError.trim() !== '') {
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    };
    $("#BuscarPersona").click(function () {
        var valorBusqueda = $("#inputBusqueda").val();
        console.log(valorBusqueda);
        $.ajax({
            url: '/Programa/BuscarPersonas',
            type: 'GET',
            data: { buscar: valorBusqueda },
            success: function (data) {
                console.log(data);
                $("#inputBusqueda").val("");
                if (data.length === 1) {
                    $("#Nombre").val(data[0].nombreCompleto);
                    $("#Documento").val(data[0].documento);
                    $("#IdentPersona").val(data[0].ident_Persona);
                } else if (data.length > 1) {
                    mostrarResultados(data);
                } else {
                    $("#Nombre").val("");
                    $("#Documento").val("");
                    $("#IdentPersona").val("0");
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    });
    function mostrarResultados(resultados) {
        // Remover el modal existente, si hay uno
        $("#resultadosModal").remove();
        // Crea el modal
        var modalHTML = "<div class='modal fade' id='resultadosModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>";
        modalHTML += "<div class='modal-dialog' role='document'>";
        modalHTML += "<div class='modal-content'>";
        modalHTML += "<div class='modal-header'>";
        modalHTML += "<h5 class='modal-title' id='exampleModalLabel'>Resultados de la Búsqueda</h5>";
        modalHTML += "<button type='button' class='close' data-bs-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>";
        modalHTML += "</div>";
        modalHTML += "<div class='modal-body'>";

        var tablaResultados = "<table class='table table-hover'>";
        tablaResultados += "<thead><tr><th>N°</th><th hidden>IDENT_PERSONA</th><th hidden>TIPO_DOCUMENTO</th><th hidden>DOCUMENTO</th><th>Apellidos y Nombres</th></tr></thead><tbody>";

        for (var i = 0; i < resultados.length; i++) {
            tablaResultados += "<tr>";
            tablaResultados += "<td>" + (i + 1) + "</td>";
            tablaResultados += "<td hidden>" + resultados[i].ident_Persona + "</td>";
            tablaResultados += "<td hidden>" + resultados[i].tipoDocumento + "</td>";
            tablaResultados += "<td hidden>" + resultados[i].documento + "</td>";
            tablaResultados += "<td>" + resultados[i].nombreCompleto + "</td>";
            tablaResultados += "</tr>";
        }

        tablaResultados += "</tbody></table>";

        modalHTML += tablaResultados;
        modalHTML += "</div>";
        modalHTML += "<div class='modal-footer'>";
        modalHTML += "<button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>";
        modalHTML += "</div></div></div></div>";

        // Agrega el modal al final del cuerpo del documento
        $("body").append(modalHTML);

        // Muestra el modal
        $("#resultadosModal").modal("show");

        // Agrega un evento clic a las filas de la tabla en el modal
        $("#resultadosModal").on("dblclick", "table tbody tr", function () {
            var identPersona = $(this).find('td:eq(1)').text();
            var documento = $(this).find('td:eq(3)').text();
            var nombreCompleto = $(this).find('td:eq(4)').text();

            $("#IdentPersona").val(identPersona);
            $("#Documento").val(documento);
            $("#Nombre").val(nombreCompleto);

            cerrarModal();
        });
    }

    function cerrarModal() {
        // Oculta y elimina el modal del DOM
        $("#resultadosModal").modal("hide");
        $("#resultadosModal").on("hidden.bs.modal", function () {
            $(this).remove();
        });
    }

    function mostrarModalEliminar(url) {
        $('#modalEliminarPropietario').modal('show');
        $('#btnConfirmarEliminar').off('click').on('click', function () {
            window.location.href = url;
        });
    }
</script>